
<div class="login-box">
  <div class="login-logo">
    <a [routerLink]="['/']"><b>GCL</b>Rubicom</a>
  </div>
  <!-- /.login-logo -->
  <div class="row">
    <div class="box box-solid box-success" *ngIf="activateSucess">
      <div class="box-header">
        <h3 class="box-title">Opération Réussie</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <h4>
          {{ message }}
        </h4>
      </div><!-- /.box-body -->
    </div>
    <div class="box box-solid box-warning" *ngIf="activateError">
      <div class="box-header">
        <h1 class="box-title">Attention Operation Interrompue</h1>
      </div><!-- /.box-header -->
      <div class="box-body">
        <h4>
          {{ message }}
        </h4>
      </div><!-- /.box-body -->
    </div>
  </div>
  <div class="login-box-body" *ngIf="!(activateError || activateSucess)">
    <p class="login-box-msg">J'ai oublié mon mot de passe</p>

    <form name="form" (ngSubmit)="f.form.valid && resetPassword()" #f="ngForm" novalidate>
      <div class="form-group has-feedback" [ngClass]="{ 'has-error': f.submitted && !new_password.valid }">
        <input type="password" class="form-control" placeholder="Mot de passe" name="new_password" [(ngModel)]="model.new_password" #new_password="ngModel" minlength="8" required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <div class="help-block" *ngIf="f.submitted && !new_password.valid">Veuillez saisir le mot de passe</div>
      </div>
      <div class="form-group has-feedback" [ngClass]="{ 'has-error': f.submitted && !re_new_password.valid}">
        <input type="password" class="form-control" placeholder="Confirmer mot de passe" name="re_new_password" [(ngModel)]="model.re_new_password" #re_new_password="ngModel" required>
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
        <div class="help-block" *ngIf="f.submitted && !re_new_password.valid">Veuillez saisir le meme mot de passe de confirmation</div>
      </div>

      <div class="row">

        <!-- /.col -->
        <div class="col-xs-5  pull-right">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Initialiser</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>
  <!-- /.login-box-body -->
</div>
