<div id="loader" *ngIf="loading !== true"></div>
<div class="login-box" *ngIf="loading === true">
  <div class="login-logo">
    <a [routerLink]="['/']"><b>GCL</b>Rubicom</a>
  </div>
  <!-- /.login-logo -->
  <div class="row" *ngIf="!send_success">
    <div class="box box-solid box-success" >
      <div class="box-header">
        <h3 class="box-title">Opération réussie</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <h4>
          {{ message_success }}
        </h4>
      </div><!-- /.box-body -->
    </div>
  </div>
  <div class="login-box-body" *ngIf="send_success">
    <p class="login-box-msg">J'ai oublié mon mot de passe</p>

    <form name="form" (ngSubmit)="f.form.valid && sendEmail()" #f="ngForm" novalidate>
      <div class="alert alert-danger" *ngIf="error">{{error}}</div>
      <div class="form-group has-feedback" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
        <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="model.email" #email="ngModel" required email>
        <span class="glyphicon glyphicon-envelope form-control-feedback help-block" ></span>
        <div class="help-block" *ngIf="f.submitted && !email.valid">veuillez saisir votre email</div>
      </div>

      <div class="row">

        <!-- /.col -->
        <div class="col-xs-5  pull-right">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Envoyer</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
    <div class="social-auth-links text-center">

    </div>

    <a class="text-center" [routerLink]="['/register']">S'enregister en tant que Candidat</a>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
